
/* Desktop Padding Top */
  .padding-top-desktop-0px { padding-top: 0px; }
  .padding-top-desktop-5px { padding-top: 5px; }
  .padding-top-desktop-10px { padding-top: 10px; }
  .padding-top-desktop-15px { padding-top: 15px; }
  .padding-top-desktop-20px { padding-top: 20px; }
  .padding-top-desktop-25px { padding-top: 25px; }
  .padding-top-desktop-30px { padding-top: 30px; }
  .padding-top-desktop-35px { padding-top: 35px; }
  .padding-top-desktop-40px { padding-top: 40px; }
  .padding-top-desktop-45px { padding-top: 45px; }
  .padding-top-desktop-50px { padding-top: 50px; }
  .padding-top-desktop-55px { padding-top: 55px; }
  .padding-top-desktop-60px { padding-top: 60px; }
  .padding-top-desktop-65px { padding-top: 65px; }
  .padding-top-desktop-70px { padding-top: 70px; }
  .padding-top-desktop-75px { padding-top: 75px; }
  .padding-top-desktop-80px { padding-top: 80px; }
  .padding-top-desktop-85px { padding-top: 85px; }
  .padding-top-desktop-90px { padding-top: 90px; }
  .padding-top-desktop-95px { padding-top: 95px; }
  .padding-top-desktop-100px { padding-top: 100px; }
  /* Desktop Padding Bottom */
  .padding-bottom-desktop-0px { padding-bottom: 0px; }
  .padding-bottom-desktop-5px { padding-bottom: 5px; }
  .padding-bottom-desktop-10px { padding-bottom: 10px; }
  .padding-bottom-desktop-15px { padding-bottom: 15px; }
  .padding-bottom-desktop-20px { padding-bottom: 20px; }
  .padding-bottom-desktop-25px { padding-bottom: 25px; }
  .padding-bottom-desktop-30px { padding-bottom: 30px; }
  .padding-bottom-desktop-35px { padding-bottom: 35px; }
  .padding-bottom-desktop-40px { padding-bottom: 40px; }
  .padding-bottom-desktop-45px { padding-bottom: 45px; }
  .padding-bottom-desktop-50px { padding-bottom: 50px; }
  .padding-bottom-desktop-55px { padding-bottom: 55px; }
  .padding-bottom-desktop-60px { padding-bottom: 60px; }
  .padding-bottom-desktop-65px { padding-bottom: 65px; }
  .padding-bottom-desktop-70px { padding-bottom: 70px; }
  .padding-bottom-desktop-75px { padding-bottom: 75px; }
  .padding-bottom-desktop-80px { padding-bottom: 80px; }
  .padding-bottom-desktop-85px { padding-bottom: 85px; }
  .padding-bottom-desktop-90px { padding-bottom: 90px; }
  .padding-bottom-desktop-95px { padding-bottom: 95px; }
  .padding-bottom-desktop-100px { padding-bottom: 100px; }

@media screen and (min-width: 768px) and (max-width: 1599px) {
/* Desktop Padding Top */
  .padding-top-desktop-0px { padding-top: 0vw; }
  .padding-top-desktop-5px { padding-top: 0.35vw; }
  .padding-top-desktop-10px { padding-top: 0.69vw; }
  .padding-top-desktop-15px { padding-top: 1.04vw; }
  .padding-top-desktop-20px { padding-top: 1.39vw; }
  .padding-top-desktop-25px { padding-top: 1.74vw; }
  .padding-top-desktop-30px { padding-top: 2.08vw; }
  .padding-top-desktop-35px { padding-top: 2.43vw; }
  .padding-top-desktop-40px { padding-top: 2.78vw; }
  .padding-top-desktop-45px { padding-top: 3.13vw; }
  .padding-top-desktop-50px { padding-top: 3.47vw; }
  .padding-top-desktop-55px { padding-top: 3.82vw; }
  .padding-top-desktop-60px { padding-top: 4.17vw; }
  .padding-top-desktop-65px { padding-top: 4.51vw; }
  .padding-top-desktop-70px { padding-top: 4.86vw; }
  .padding-top-desktop-75px { padding-top: 5.21vw; }
  .padding-top-desktop-80px { padding-top: 5.56vw; }
  .padding-top-desktop-85px { padding-top: 5.9vw; }
  .padding-top-desktop-90px { padding-top: 6.25vw; }
  .padding-top-desktop-95px { padding-top: 6.6vw; }
  .padding-top-desktop-100px { padding-top: 6.94vw; }
  /* Desktop Padding Bottom */
  .padding-bottom-desktop-0px { padding-bottom: 0vw; }
  .padding-bottom-desktop-5px { padding-bottom: 0.35vw; }
  .padding-bottom-desktop-10px { padding-bottom: 0.69vw; }
  .padding-bottom-desktop-15px { padding-bottom: 1.04vw; }
  .padding-bottom-desktop-20px { padding-bottom: 1.39vw; }
  .padding-bottom-desktop-25px { padding-bottom: 1.74vw; }
  .padding-bottom-desktop-30px { padding-bottom: 2.08vw; }
  .padding-bottom-desktop-35px { padding-bottom: 2.43vw; }
  .padding-bottom-desktop-40px { padding-bottom: 2.78vw; }
  .padding-bottom-desktop-45px { padding-bottom: 3.13vw; }
  .padding-bottom-desktop-50px { padding-bottom: 3.47vw; }
  .padding-bottom-desktop-55px { padding-bottom: 3.82vw; }
  .padding-bottom-desktop-60px { padding-bottom: 4.17vw; }
  .padding-bottom-desktop-65px { padding-bottom: 4.51vw; }
  .padding-bottom-desktop-70px { padding-bottom: 4.86vw; }
  .padding-bottom-desktop-75px { padding-bottom: 5.21vw; }
  .padding-bottom-desktop-80px { padding-bottom: 5.56vw; }
  .padding-bottom-desktop-85px { padding-bottom: 5.9vw; }
  .padding-bottom-desktop-90px { padding-bottom: 6.25vw; }
  .padding-bottom-desktop-95px { padding-bottom: 6.6vw; }
  .padding-bottom-desktop-100px { padding-bottom: 6.94vw; }
}
/* Mobile Padding Top */
@media (max-width: 767px) {
  .padding-top-mobile-0px { padding-top: 0px; }
  .padding-top-mobile-5px { padding-top: 5px; }
  .padding-top-mobile-10px { padding-top: 10px; }
  .padding-top-mobile-15px { padding-top: 15px; }
  .padding-top-mobile-20px { padding-top: 20px; }
  .padding-top-mobile-25px { padding-top: 25px; }
  .padding-top-mobile-30px { padding-top: 30px; }
  .padding-top-mobile-35px { padding-top: 35px; }
  .padding-top-mobile-40px { padding-top: 40px; }
  .padding-top-mobile-45px { padding-top: 45px; }
  .padding-top-mobile-50px { padding-top: 50px; }
  .padding-top-mobile-55px { padding-top: 55px; }
  .padding-top-mobile-60px { padding-top: 60px; }
  .padding-top-mobile-65px { padding-top: 65px; }
  .padding-top-mobile-70px { padding-top: 70px; }
  .padding-top-mobile-75px { padding-top: 75px; }
  .padding-top-mobile-80px { padding-top: 80px; }
  .padding-top-mobile-85px { padding-top: 85px; }
  .padding-top-mobile-90px { padding-top: 90px; }
  .padding-top-mobile-95px { padding-top: 95px; }
  .padding-top-mobile-100px { padding-top: 100px; }

  /* Mobile Padding Bottom */
  .padding-bottom-mobile-0px { padding-bottom: 0px; }
  .padding-bottom-mobile-5px { padding-bottom: 5px; }
  .padding-bottom-mobile-10px { padding-bottom: 10px; }
  .padding-bottom-mobile-15px { padding-bottom: 15px; }
  .padding-bottom-mobile-20px { padding-bottom: 20px; }
  .padding-bottom-mobile-25px { padding-bottom: 25px; }
  .padding-bottom-mobile-30px { padding-bottom: 30px; }
  .padding-bottom-mobile-35px { padding-bottom: 35px; }
  .padding-bottom-mobile-40px { padding-bottom: 40px; }
  .padding-bottom-mobile-45px { padding-bottom: 45px; }
  .padding-bottom-mobile-50px { padding-bottom: 50px; }
  .padding-bottom-mobile-55px { padding-bottom: 55px; }
  .padding-bottom-mobile-60px { padding-bottom: 60px; }
  .padding-bottom-mobile-65px { padding-bottom: 65px; }
  .padding-bottom-mobile-70px { padding-bottom: 70px; }
  .padding-bottom-mobile-75px { padding-bottom: 75px; }
  .padding-bottom-mobile-80px { padding-bottom: 80px; }
  .padding-bottom-mobile-85px { padding-bottom: 85px; }
  .padding-bottom-mobile-90px { padding-bottom: 90px; }
  .padding-bottom-mobile-95px { padding-bottom: 95px; }
  .padding-bottom-mobile-100px { padding-bottom: 100px; }
}